<div class="main-visual">
  <div class="main-visual-content">
    <h1>Lorem Ipsum</h1>
    <p>simply dummy text of the printing</p>
  </div>
</div>
<div class="Portfolio" id="Portfolio">
  <div class="Portfolio-content">
    <div class="Portfolio-heading heading">
      <h2>Portfolio</h2>
      <p>
        It is a long established fact that a reader will be distracted by the readable<br>
        content of a page when looking at its layout.<br>
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
      </p>
    </div>
    <div class="Portfolio-images">
      <div class="Portfolio-image"></div>
      <div class="Portfolio-image"></div>
      <div class="Portfolio-image"></div>
      <div class="Portfolio-image"></div>
      <div class="Portfolio-image"></div>
      <div class="Portfolio-image"></div>
    </div>
  </div>
</div>
<div class="Feature" id="Feature">
  <div class="Feature-content">
    <div class="Feature-heading heading">
      <h2>Feature</h2>
      <p>
        It is a long established fact that a reader will be distracted by the readable<br>
        content of a page when looking at its layout.<br>
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters<br>
      </p>
    </div>
    <div class="Feature-Strengths">
      <div class="Strength">
        <i class="fa-solid fa-code"></i>
        <h3>Strength1</h3>
        <p class="Feature-message">
          Contrary to popular belief, Lorem Ipsum<br>
          is not simply random text. It has roots<br>
          in a piece of classical Latin literature<br>
          from 45 BC, making it over 2000 years<br>
          old. Richard McClintock, a Latin<br>
          professor at Hampden-Sydney College<br>
          in Virginia, looked up one of the more<br>
          obscure Latin words, consectetur
        </p>
      </div>
      <div class="Strength">
        <i class="fa-solid fa-desktop"></i>
        <h3>Strength2</h3>
        <p class="Feature-message">
          Contrary to popular belief, Lorem Ipsum<br>
          is not simply random text. It has roots<br>
          in a piece of classical Latin literature<br>
          from 45 BC, making it over 2000 years<br>
          old. Richard McClintock, a Latin<br>
          professor at Hampden-Sydney College<br>
          in Virginia, looked up one of the more<br>
          obscure Latin words, consectetur
        </p>
      </div>
      <div class="Strength">
        <i class="fa-solid fa-gears"></i>
        <h3>Strength3</h3>
        <p class="Feature-message">
          Contrary to popular belief, Lorem Ipsum<br>
          is not simply random text. It has roots<br>
          in a piece of classical Latin literature<br>
          from 45 BC, making it over 2000 years<br>
          old. Richard McClintock, a Latin<br>
          professor at Hampden-Sydney College<br>
          in Virginia, looked up one of the more<br>
          obscure Latin words, consectetur
        </p>
      </div>
    </div>
  </div>
  <div class="Profile" id="Profile">
    <div class="Profile-content">
      <div class="Profile-heading heading">
        <h2>Profile</h2>
        <p>
          It is a long established fact that a reader will be distracted by the readable<br>
          content of a page when looking at its layout.<br>
          The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
        </p>
      </div>
      <div class="Profile-main">
        <div class="icon">
          <div class="icon-image">
            <img src="assets/my-icon.jpg"></img>
          </div>
        </div>
        <div class="message">
          <h4>MyName</h4>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random<br>
            text. It has roots in a piece of classical Latin literature from 45<br>
            BC, making it over 2000 years old. Richard McClintock, a Latin<br>
            professor at Hampden-Sydney College in Virginia, looked up<br>
            one of the more obscure Latin words, consectetur
          </p>
          <h4>MySkills</h4>
          <p>HTML/CSS,JavaScript,JQuery,PhotoShop</p>
        </div>
      </div>
    </div>
  </div>
  <div class="Contact" id="Contact">
    <div class="Contact-heading heading">
      <h2>Contact</h2>
      <p>
        It is a long established fact that a reader will be distracted by the readable<br>
        content of a page when looking at its layout.<br>
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
      </p>
    </div>
    <div class="Contact-main">
      <div class="links">
        <div class="mail">
          <h4>Mail</h4>
          <a href="#">xxx@xxx.com</a>
        </div>
        <div class="tel">
          <h4>Tel</h4>
          <a href="#">000-0000-000</a>
        </div>
      </div>
      <div class="sns">
        <div class="icons">
          <h4>SNS</h4>
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
        </div>
      </div>
    </div>
  </div>
</div>