* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}

.navbar {
  width: 1024px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  line-height: 70px;
}

.logo img {
  height: 70px;
}
.logo-link {
  margin: 0;
}

.navbar ul {
  list-style: none;
  display: flex;

}

.nav-items {
  margin-left: auto;
}

.nav-item {
  margin-left: auto;
  display: inline-block;
}

a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin: 0 30px;
}

.main-visual {
  background-image: url(mv.png);
  background-size: cover;
  background-position: center;
  height: 650px;

}

.main-visual-content {
  color: #FAFAFA;
  text-align: center;
  height: 640px;
}

.main-visual-content h1 {
  padding-top: 200px;
  font-size: 64px;
  margin-bottom: 10px;
}

.main-visual-content p {
  font-size: 20px;
}

.Portfolio {
  background-color: #ECEFF1;

}

.Portfolio-content {
  margin: 0 auto;
  text-align: center;
  width: 920px;
}

.Portfolio-heading {
  padding-top: 90px;
	display: inline-block;
}

 h2 {
  font-size: 32px;
  color: #000000;
  padding-bottom: 8px;
  position: relative;
  text-align: center; /* 文字の中央寄せ */
}

h2::before {
  background-color: #EC715F; /* 線の色 */
  border-radius: 5px; /* 線の両端を丸く */
  bottom: -3px; /* 線の位置 */
  content: "";
  height: 3px; /* 線の高さ */
  left: 50%; /* 線の中央寄せ */
  position: absolute;
  transform: translateX(-50%); /* 線の中央寄せ */
  width: 70px; /* 線の長さ */
}

.content p {
  padding: 33px 0 30px 0;
}

.Portfolio-images {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 90px;
}

.Portfolio-image {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.Portfolio-image:nth-child(1) {
  background-image: url(sketch.jpg);
  margin: 0 10px 10px 0;
}

.Portfolio-image:nth-child(2) {
  background-image: url(websuku.png);
  margin: 0 10px 10px 0;
}

.Portfolio-image:nth-child(3) {
  background-image: url(write.jpg);
  margin: 0 0 10px 0;
}

.Portfolio-image:nth-child(4) {
  background-image: url(webcamp.png);
  margin: 0 10px 0 0;
}

.Portfolio-image:nth-child(5) {
  background-image: url(talk.jpg);
  margin: 0 10px 0 0;
}

.Portfolio-image:nth-child(6) {
  background-image: url(webcamp-mother.png);
  margin: 0 0 0 0;
}

.Feature-content {
  padding:90px 0 90px 0;
  width: 980px;
  margin: 0 auto;
  text-align: center;
}

.Feature-Strengths {
  display: flex;
  flex-wrap: wrap;
}

.Strength {
  width: 320px;
  margin-right: 10px;
}

.Strength:nth-child(3) {
  margin-right: 0;
}

.Feature-message {
  text-align: left
}

i {
  margin: 15px 0 17px 0;
  font-size: 60px;
}

h3 {
  font-size: 20px;
  color: #000;
  padding: 8px 0;
  margin-bottom: -30px;
}

.Profile {
  background-color: #ECEFF1;
  padding-top: 90px;
}

.Profile-content {
  width: 1024px;
  margin: 0 auto;
}

.Profile-content p {
  text-align: center;
}